{{>layouts/header}}
    <!-- content -->
    <div class="bg-dark text-white p-5"> <!-- 배경 어둡게, 글자 흰색, 안쪽 여백 크게? -->

        <h1>{{username}}님, 반갑습니다!</h1>
        <!-- 반갑다는데요? -->
    </div>
{{>layouts/footer}}
